# python
*.pyc
*.egg-info
*.egg/
*.egg
.eggs/
dist/

# Ignore CI build directory
cmake-build-debug/
.idea/
build/
venv/
bench_venv/
_client.cpp
_client.so
_client.*.so
.tox/

.cache/
.clang_complete
*.sw[op]
tests/resources/keys_*.txt
.vscode/

/go.mod
/go.sum
