dist: xenial
language: python
python:
- '2.7'
- '3.5'
- '3.6'
- '3.7'
- '3.8'
cache:
  pip: true
env:
- TEST_SUITE=unittest CMAKE_BUILD_TYPE=Release PRJ_COMPILER=clang
- TEST_SUITE=unittest CMAKE_BUILD_TYPE=Debug PRJ_COMPILER=clang
- TEST_SUITE=unittest CMAKE_BUILD_TYPE=Release PRJ_COMPILER=gcc
- TEST_SUITE=unittest CMAKE_BUILD_TYPE=Debug PRJ_COMPILER=gcc
- TEST_SUITE=benchmark
jobs:
  include:
  - python: '3.7'
    env: TEST_SUITE=cppcheck
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - python-dev
    - python-numpy
    - valgrind
    - cppcheck
    - memcached
    - libmemcached11
    - golang
    - g++
install:
- if [[ $TEST_SUITE != "cppcheck" ]]; then pip install --upgrade pip setuptools; fi
- if [[ $TEST_SUITE != "cppcheck" ]]; then pip install future; fi
- if [[ $TEST_SUITE = "unittest" ]]; then pip install pytest greenify gevent; fi
- if [[ $TEST_SUITE = "benchmark" ]]; then pip install python-memcached pylibmc; fi
before_script:
- if [[ $TEST_SUITE != "cppcheck" ]]; then ./misc/memcached_server start; fi
script:
- if [[ $PRJ_COMPILER = "gcc" ]]; then export CC=gcc CXX=g++; fi
- if [[ $PRJ_COMPILER = "clang" ]]; then export CC=clang CXX=clang++; fi
- "./misc/travis/$TEST_SUITE.sh"
after_script:
- if [[ $TEST_SUITE != "cppcheck" ]]; then ./misc/memcached_server stop; fi
deploy:
  provider: pypi
  skip_existing: true
  username: everpcpc
  password: $PYPI_TOKEN
  distributions: sdist bdist_wheel
  on:
    tags: true
    repo: douban/libmc
    branch: master
    condition: $TEST_SUITE = "unittest" AND $CMAKE_BUILD_TYPE = "Release" AND $PRJ_COMPILER = "gcc"
