dist: xenial
language: python
python:
- '2.7'
- '3.5'
- '3.6'
- '3.7'
- '3.8'
cache:
  pip: true
env:
- TEST_SUITE=unittest CMAKE_BUILD_TYPE=Release PRJ_COMPILER=clang
- TEST_SUITE=unittest CMAKE_BUILD_TYPE=Debug PRJ_COMPILER=clang
- TEST_SUITE=unittest CMAKE_BUILD_TYPE=Release PRJ_COMPILER=gcc
- TEST_SUITE=unittest CMAKE_BUILD_TYPE=Debug PRJ_COMPILER=gcc
- TEST_SUITE=benchmark
matrix:
  include:
  - env: TEST_SUITE=cppcheck
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - python-dev
    - python-numpy
    - valgrind
    - cppcheck
    - memcached
    - libmemcached11
    - golang
    - g++-7
install:
- if [[ $TEST_SUITE != "cppcheck" ]]; then pip install --upgrade pip setuptools; fi
- if [[ $TEST_SUITE != "cppcheck" ]]; then pip install future; fi
- if [[ $TEST_SUITE = "unittest" ]]; then pip install pytest greenify gevent; fi
- if [[ $TEST_SUITE = "benchmark" ]]; then pip install python-memcached pylibmc; fi
before_script:
- if [[ $TEST_SUITE != "cppcheck" ]]; then ./misc/memcached_server start; fi
script:
- if [[ $PRJ_COMPILER = "gcc" ]]; then export CC=gcc-7 CXX=g++-7; fi
- if [[ $PRJ_COMPILER = "clang" ]]; then export CC=clang CXX=clang++; fi
- "./misc/travis/$TEST_SUITE.sh"
after_script:
- if [[ $TEST_SUITE != "cppcheck" ]]; then ./misc/memcached_server stop; fi
deploy:
  provider: pypi
  skip_existing: true
  user: tclh123
  password:
    secure: Bjdh2JsV8sDmnZya74p0wCZ5jMgYmODfFQ11o3tk45/QCPBwa3wUOSjWHYCoBLVKya37UvH+cEnSfQjST+3IaC5D7miifl43aI6A/jRDb6ooNzraFV3Vs6bjp3yndCF1e0noknHo7ab+2s5lOsS5ot28lmQS5SKRtH7vheYnzLA=
  on:
    tags: true
    distributions: sdist bdist_wheel
    repo: douban/libmc
    branch: master
