name: Golang

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]


jobs:
  gotest:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        gover: ["1.15"]
        compiler: ["gcc", "clang"]

    steps:
    - uses: actions/checkout@v2
    - name: Setup system dependencies
      run: |
        sudo apt-get update
        sudo apt-get -y install memcached g++
    - name: Set up Golang
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.gover }}
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.13
    - name: Start memcached servers
      run: ./misc/memcached_server start
    - name: Start slow memcached server
      run: ./misc/slow_server.sh
    - name: Run gotest
      run: |
        if [[ ${{ matrix.compiler }} = "gcc" ]]; then export CC=gcc CXX=g++; fi
        if [[ ${{ matrix.compiler }} = "clang" ]]; then export CC=clang CXX=clang++; fi
        ./misc/travis/gotest.sh
    - name: Stop memcached servers
      run: ./misc/memcached_server stop
