name: Publish

on:
  push:
    tags:
      - v*

jobs:
  wheel:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04, macos-13, macos-latest]

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v3

    - name: Install cibuildwheel
      run: python -m pip install cibuildwheel==3.2.0

    - name: Build wheels
      env:
        CIBW_BEFORE_BUILD: pip install 'setuptools<72.2.0 ; implementation_name == "pypy"'
        MACOSX_DEPLOYMENT_TARGET: "10.13"
        CIBW_SKIP: "pp*-macosx_*"
      run: python -m cibuildwheel --output-dir wheelhouse
    - name: Check build result
      run: ls -lh wheelhouse/
    - uses: actions/upload-artifact@v4
      with:
        name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
        path: ./wheelhouse/*.whl

  pypi:
    needs: [wheel]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/download-artifact@v4
      with:
        pattern: cibw-*
        path: wheelhouse/
        merge-multiple: true
    - name: Check download result
      run: ls -lht wheelhouse/
    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        packages-dir: wheelhouse/
        skip_existing: true
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}
